@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat:wght@100..900&display=swap");
@import "tailwindcss";
@source "../views";

/* 
MOBILE FIRST
    - 320px : mobile
    - 768px : tablette
    - 1024px : desktop

RYTHME
    - 5px : serré
    - 15px : normal
    - 20px : espacé
*/

@theme {
    /* BREAKPOINT */
    --breakpoint-xs: 25rem; /* 400px */
    /* TYPOGRAPHIE */
    --font-family: "Montserrat", sans-serif;
    --font-family-title: "Cinzel", serif;

    /* COULEURS DU THÈME */
    --color-blue-magenta: #524b56;
    --color-gold: #a78753;
    --color-white: #edecee;
    --color-taupe: #866260;
    --color-light-gray: #9b9b9d;
    --color-alert: #7d3531;

    /* TAILLES DE POLICE */
    --text-xxs: 0.75rem; /* 12px */
    --text-xs: 0.8125rem; /* 13px */
    --text-sm: 0.875rem; /* 14px */
    --text-base: 1rem; /* 16px */
    --text-md: 1.125rem; /* 18px */
    --text-lg: 1.5rem; /* 24px */
    --text-xl: 2rem; /* 32px */

    /* FONT-WEIGHT */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;

    /* PADDING ET MARGIN*/
    --spacing-xxs: 0.3125rem; /* 5px */
    --spacing-xs: 0.625rem; /* 10px */
    --spacing-sm: 0.9375rem; /* 15px */
    --spacing-base: 1rem; /* 16px */
    --spacing-md: 1.25rem; /* 20px */
    --spacing-lg: 1.875rem; /* 30px */
    --spacing-xl: 2.5rem; /* 40px */
    --spacing-xxl: 4.5rem; /* 72px */
    /* BORDER-RADIUS */
    --radius-md: 0.3125rem; /* 5px */
}

@layer components {
    .bouton {
        @apply px-md py-xs bg-gold rounded-md text-white font-regular text-sm cursor-pointer mt-md hover:bg-[#856c42] transition-colors duration-500 ease-in;
    }

    .bouton.taupe {
        @apply bg-taupe hover:bg-[#6b4e4c];
    }

    .bouton.blue-magenta {
        @apply bg-blue-magenta hover:bg-[#413c44];
    }

    .bouton.white {
        @apply bg-white border border-blue-magenta text-blue-magenta hover:bg-blue-magenta hover:text-white;
    }

    .bouton.alert {
        @apply bg-alert hover:bg-[#632926];
    }

    .link-underline-hover {
        @apply relative inline-block text-taupe no-underline;
    }

    .link-underline-hover::after {
        @apply content-[''] absolute left-0 bottom-0 h-[2px] w-0 bg-taupe opacity-50 transition-all duration-300 ease-in-out;
    }

    .link-underline-hover:hover::after {
        @apply w-full;
    }
}

/* Menu hamburger */
.ham-menu.active span {
    @apply bg-blue-magenta;
}

.ham-menu.active span:nth-child(1) {
    @apply top-1/2 -translate-x-1/2 -translate-y-1/2 rotate-45;
}

.ham-menu.active span:nth-child(2) {
    @apply opacity-0;
}

.ham-menu.active span:nth-child(3) {
    @apply top-1/2 -translate-x-1/2 -translate-y-1/2 -rotate-45;
}

.off-screen-menu.active {
    @apply right-0;
}
