@import "tailwindcss";
@source "../views/";

/* 

Rythme de base
    15px

Rythme serré
    5px

Rythme espacé
    20px


*/

@theme {
    /* COULEURS DU THÈME */
    --color-blue-magenta: #524b56;
    --color-gold: #a78753;
    --color-white: #edecee;
    --color-taupe: #866260;
    --color-light-gray: #9b9b9d;
}
